.drag-over > div {
    background-color: #eef2ff !important; /* bg-indigo-50 */
    border: 2px dashed #6366f1; /* border-indigo-500 */
}
/* Diferenciación visual para el panel de edición/creación */
#panelEditar.mode-new #panelHeader {
    background-color: #e0e7ff; /* bg-indigo-100 */
    border-color: #c7d2fe; /* border-indigo-200 */
}
#panelEditar.mode-edit #panelHeader {
    background-color: #fef3c7; /* bg-amber-100 */
    border-color: #fde68a; /* border-amber-200 */
}
